<div class="navbar-container">
    <div class="navbar-items">
        <div class="app-logo">
            Super Sub
        </div>
        <div class="navigation">
            <div>
                <a class="navbar-item" routerLink="/marketplace" routerLinkActive="active">Home</a>
            </div>
            <div>
                <a class="navbar-item" routerLink="/subscriptions" routerLinkActive="active">Subscriptions</a>
            </div>
        </div>
        <div class="login">
            <a class="navbar-item" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
        </div>
    </div>
</div>
