<div class="sub-tile">
    <div class="title">
        <img src="https://cdn.cookielaw.org/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png" alt="Netflix" style="width:100px;height:50px;">
    </div>
    <div class="items">
        <div class="price">
            <div class="right">Price</div>
            <div class="left">{{price}}</div>
        </div>
        <div class="date">
            <div class="right">Frequency</div>
            <div class="left">{{frequency}}</div>
        </div>
    </div>
</div>